@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar menu */
/* .active {
    background-color: rgb(96 165 250);
    color: blue;
} */

.sidebar:hover {
    width: 16rem/* 256px */;
}

/* Main */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #0e4069, #2196f3); */
    backdrop-filter: blur(15px);
    background-image: url(../images/background-sky.jpg);
}
 
