@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(to right, #0e4069, #2196f3); */
  backdrop-filter: blur(15px);
  background-image: url(../images/background-sky.jpg);
}

.custom-bg-opacity {
  background-color: rgba(255, 255, 255, 0.3);
}

